* {
    margin:auto;
}
:root {
    --black:#000000;
    --blue:#262A56;
    --brown:#B8621B;
    --biege:#E3CCAE;
    --hover:#616599;
    --white:#ffffff;
    --green:#367055;
}
body {
    background-color:var(--biege);
    /* margin:auto; */
}
header {
    background-color:var(--blue);
    padding:1rem;
    border-bottom:2px solid var(--black);
    margin-bottom:1rem;
    /* margin:15; */
    color:var(--brown);
}
/* header h3 {
    padding:1rem;
} */
.searchContainer {
    border: 2px solid var(--black);
    padding:3rem;
    max-width:1000px;
    border-radius:30px;
    background-color:#ffffff;
    margin:auto;
    width:80%;
}

.textContainer {
    border: 2px solid var(--black);
    padding:10px;
    border-radius:10px;
    background-color:red;
    max-width:800px;
    margin:auto;
}
input {
    /* min-width:700px; */
    margin: 20px;
    font-size: 1.5rem;
}
input > .textContainer {
    
}
button {
    background:var(--blue);
    padding:1.25rem 3rem;
    margin-top:30px;
    font-size: 30px;
    border-radius:10px;
    color: var(--white);
}
button:hover{
    background-color: var(--hover);
    /* font-weight: 600; */
}
button:active {
    background-color: var(--green);
}
.popularArtistContainer {
    border:2px solid var(--black);
    max-width: 500px;
    margin-top:30px;
    border-radius:10px;
    background-color: var(--white);
    /* margin-bottom:1000px; */
}
/* h3 {
    padding:20px;
} */
footer {
    background-color:var(--brown);
    margin:1rem 0px 0px 0px;
    padding:1rem;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
footer h3 {
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 550px) {
    
}
